@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

/* Start of General and Home page */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
}

* a {
    text-decoration: none;
}

nav {
    display: flex;
    height: 8vh;
    background-color: #000;
    position: relative;
    transition: 0.5s;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 7vh;
    width: 7vh;
    padding: .5vh;
}

.logo p {
    font-size: 25px;
    color: #fff;
}

.nav-links {
    display: flex;
    position: fixed;
    list-style: none;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    background-color: #777;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
    clip-path: circle(100px at 80% 10%);
    -webkit-clip-path: circle(100px at 80% -15%);
    transition: all 1s ease-out;
    pointer-events: none;
}

.nav-links.open {
    clip-path: circle(1500px at 80% 10%);
    -webkit-clip-path: circle(1500px at 80% -15%);
    pointer-events: all;
}

.nav-links li a {
    color: #fff;
    text-decoration: none;
    font-size: 28px;
}

.hamburger {
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translate(-5%, -50%);
    z-index: 2;
}

.line {
    width: 30px;
    height: 3px;
    margin: 5px;
    background-color: #fff;
}

.sticky {
    width: 100%;
    background-color: #fff;
    color: #000;
    position: fixed;
    top: 0;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.3);
}

.sticky li a {
    color: #000;
}

.sticky .line {
    background-color: #000;
}

.sticky .logo p {
    color: #000;
}

.container + .sticky {
    padding-top: 102px;
}

#main {
    color: #fff;
    background-color: #000;
    height: 92vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

#main p {
    font-size: 35px;
}

#main img {
    width: 60%;
    height: 30%;
}

.skills {
    margin: 0;
    padding: 150px 0 100px;
    background-color: #fff;
    color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.skills h2 {
    font-size: 50px;
    padding: 10px;
}

.skills h3 {
    font-size: 15px;
    padding: 5px;
    text-align: center;
    color: #777;
}

.boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
}

.box {
    border: 1px solid #fee;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.1);
    width: 40vh;
    height: 30vh;
    margin: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    transition: 0.3s;
}

.box p {
    width: 50%;
    text-align: center;
    font-size: 20px;
}

.box-link {
    color: black;
}

.box:hover {
    background-color: #000;
    color: white;
    border: 1px solid #000;
    box-shadow: 10px 10px 20px rgba(150, 150, 150, 1);
}

.typewriter {
    animation: typewriter 3s;
    overflow: hidden;
    white-space: nowrap;
    border-right: 3px solid white;
    border-radius: 2px;
    font-family: 'Source Code Pro', monospace;
    width: 15.5ch;
}

.joke {
    animation: joke 4s;
    overflow: hidden;
    white-space: nowrap;
    font-family: 'Source Code Pro', monospace;
}

.about {
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    background-color: #777777;
    color: #000;
    align-items: center;
}

.about h2 {
    font-size: 50px;
    text-align: center;
    margin: 20px;
}

.about p {
    font-size: 20px;
    text-align: center;
    max-width: 80%;
}

footer {
    background-color: #000;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 20px;
}

@keyframes typewriter {
    0% {
        width: 0ch;
    }

    50% {
        width: 3ch;
    }

    100% {
        width: 15ch;
    }
}

@keyframes joke {
    0% {
        width: 0ch;
    }

    50% {
        width: 12ch;
    }

    75% {
        width: 19ch;
    }

    100% {
        width: 35ch;
    }
}

/* End of General and Home page */

/* ------------------------------ */

/* Start of skill page */

.skill {
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    padding: 30px;
}

.skill img {
    width: 100%;
}

.skill h1 {
    font-size: 50px;
}

.skill p {
    padding: 30px 0;
    font-size: 23px;
}

/* End of skill page */

@media only screen and (min-width: 768px) {

/* Start of General and Home page */

    #main img {
        width: 60%;
        height: 55%;
    }

    #main p {
        font-size: 40px;
    }

    .skills h3 {
        font-size: 20px;
    }

/* End of General and Home page */

/* Start of skill page */

    .skill h1 {
        margin-right: auto;
    }

    .skill p {
        padding: 40px;
    }

    .skill img {
        object-fit: cover;
        width: 550px;
        margin-top: -10%;
        margin-bottom: -50%;
    }

    .skill .js-img, .skill .front-img {
        width: 450px;
        margin-top: 10%;
    }

/* End of skill page */

}

@media only screen and (min-width: 1000px) {

/* End of General and Home page */

    #main {
        flex-direction: row;
    }

    #main img {
        width: 45%;
        height: 75%;
    }

    #main p {
        font-size: 40px;
    }

    nav {
        display: flex;
        justify-content: space-between;
    }

    .logo {
        padding: 3px;
    }

    .nav-links {
        all: unset;
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 60%;
        justify-content: space-around;
        list-style: none;
    }

    .hamburger {
        display: none;
    }

    .skills {
        min-height: 100vh;
    }

    .skills h3 {
        font-size: 20px;
    }

/* End of General and Home page */

/* -------------------------------- */

/* Start of skill page */

    .skill {
        padding: 120px 100px;
    }

    .skill h1 {
        font-size: 80px;
        margin-right: auto;
    }

    .skill img {
        width: 500px;
        margin-bottom: -50%;
    }

/* End of skill page */
}

@media only screen and (min-width: 1400px) {
    .skill img{
        width: 700px;
        height: 700px;
        margin-left: auto;
    }    

    .skill .js-img, .skill .front-img {
        all: unset;
        margin-left: auto;
        width: 600px;
        margin-top: 0;
        margin-bottom: 10%;
    }
}
